* {
    margin: 0 !important;
}

img {
    display: none;
}

body {
    overflow: hidden;
}

#app {
    height: 100vh;
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    max-height: 50%;
}